body{
    background-color: black;
    margin: 0%;
}

.lateral {
    display: block;
    transition: .3s;
    position: fixed;
    z-index: 2;
    overflow-x: hidden;

    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #111;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.abrirNav {
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: rgb(37, 37, 37);
    color: white;
}

.fecharNav{
    border: none;
    background: rgb(37, 37, 37);
    width: 2rem;
    height: 2rem;
    font-size: 25px;
    cursor: pointer;
    color: white;
    top: 0;
    right: 0;
    border-radius: 10px;
}

.conteudo {
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

